---

- name: Update PowerShell help content
  ansible.windows.win_powershell:
    script: |
      update-help

- name: Create files directory
  ansible.windows.win_file:
    path: c:\files
    state: directory

- name: Copy wallpaper to files directory
  ansible.builtin.copy:
    src: files/Wallpaper.png
    dest: c:\files\Wallpaper.png

- name: set hostname
  win_hostname:
    name: "{{ hostname }}"
  notify: reboot

- name: Get-WinUserLanguageList
  win_shell: |
    $test = (Get-WinUserLanguageList)[0].LanguageTag
    Write-Host $test
  register: language_tag
  changed_when: False

- name: Set-WinUserLanguageList
  win_shell: |
    Set-WinUserLanguageList -Languagelist '{{ win_user_language }}' -Force
  notify: reboot